* {
    margin: 0;
}

#display {
    width: 196px;
    height: 20px;
    border: 1px solid black;
    text-align: end;
    padding-top: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons {
    width: 200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.btns {
    display: flex;
}

.num, .operator {
    flex: 1 auto;
    width: 5px;
    height: 50px;
}
