* {
    margin: 0;
}

#display {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.btns {
    display: flex;
}

.btn {
    flex: 1 auto;
    width: 5px;
    height: 50px;
}
